$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$hover-light-green: hsl(169, 80%, 75%);
$white: hsl(0, 0%, 100%);
$errorRed: hsl(9, 70%, 55%);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

#root {
    height: 100dvh;
    width: 100dvw;
    text-align: center;
    background-color: $light-grayish-cyan;
}

#root > h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-weight: 700;
    color: $dark-grayish-cyan;
    letter-spacing: 0.5rem;

    height: 15%;
}

main {
    height: 85%;
    background-color: #fff;
    border-radius: 1rem 1rem 0 0;
    text-align: left;
    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 


    .bill, .number-of-people {   
        div {
            display: flex;
            justify-content: space-between;
            position: relative;

            &::before {
                content: url(./icon-dollar.svg);
                position: absolute;
                bottom: -120%;
                left: 1rem;
            }

            label {
                display: inline;
                color: $dark-grayish-cyan;
                margin-bottom: 0.25rem;
            }

            p {
                display: inline;
                color: $errorRed;
            }
        }

        input {
            width: 100%;
            height: 2.5rem;
            border-radius: 6px;
            border: none;
            background-color: $very-light-grayish-cyan;

            text-align: right;
            color: $very-dark-cyan;
            font-family: inherit;
            font-size: 2rem;
            padding-right: 1rem;

            &::placeholder {
                color: $very-dark-cyan;
                opacity: 0.3;
            }

            &:focus:not(.error) {
                outline: 2px solid $strong-cyan;
            }

            &.error, &:focus.error {
                outline: 2px solid $errorRed;
            } 
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance:textfield;
            color: $very-dark-cyan;
        }

        img {
            position: relative;
            left: 10%;
            top: 24%;
        }
    }

    .select-tip {
        margin-top: 2rem;

        h4 {
            display: block;
            color: $dark-grayish-cyan;
            margin-bottom: 0.25rem;
        }

        .buttons-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            button, input {
                height: 3rem;
                width: 100%;
                background-color: $very-dark-cyan;
                border-radius: 5px;
                border: none;

                color: white;
                font-size: 1.5rem;

                &#custom {
                    background-color: $very-light-grayish-cyan;
                    color: $grayish-cyan;
                    text-align: center;

                    &:focus {
                        outline: 2px solid $strong-cyan;
                    }
                }

                &.is-selected {
                    color: $very-dark-cyan;
                    background-color: $strong-cyan;
                }
            }
            
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type=number] {
                -moz-appearance:textfield;
                color: $very-dark-cyan;
            }          
        }
    }

    .number-of-people {
        margin-top: 2rem;

        div {
            &::before {
                content: url(./icon-person.svg);
                position: absolute;
                bottom: -120%;
                left: 1rem;
            }
        }
    }

    .total {
        padding: 1rem;
        margin-top: 2rem;
        border-radius: 1rem;
        background-color: $very-dark-cyan;
        text-align: center;
        
        .tip-amount, .total-amount {
            color: white;
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;

            p {
                text-align: left;
                font-size: 0.75rem;
                color: $dark-grayish-cyan;
            }

            span {
                font-size: 2rem;
                color: $strong-cyan;
            }
        }

        button {
            background-color: $strong-cyan;
            border: none;
            width: 100%;
            border-radius: 5px;
            height: 3rem;
            margin-top: 1.25rem;

            font-size: 1.5rem;
            color: $very-dark-cyan;

        }
    }
}

@media (width > 1024px) {
    #root {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #root > h1 {
        font-size: 3rem;
        letter-spacing: 1rem;
        margin: 2rem 0;
    }

    main {
        display: flex;
        flex-direction: row;

        height: 70%;
        width: 70%;
        border-radius: 1rem;
        padding: 3rem;

        .desktop-division {
            width: 50%;
        }

        .forms {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem;
            margin-right: 3rem;

            .bill, .number-of-people {
                label {
                    margin-bottom: 0.5rem;
                }
    
                input {
                    height: 3rem;
                }
            }


            .select-tip {
                h4 {
                    margin-bottom: 0.5rem;
                }

                .buttons-container {
                    grid-template-columns: repeat(3, 1fr);

                    button {
                        cursor: pointer;
                        height: 4rem;
                        transition: all 0.2s ease-in-out;
        
                        &:hover {
                            background-color: $hover-light-green;
                        }
                    }

                    #custom {
                        margin-top: 0;
                        height: 4rem;
                    }
                }
            }

        }

        .total {
            margin-top: 0;
            padding: 3rem 2rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .tip-amount, .total-amount {
                h4 {
                    font-size: 1.5rem;
                    text-align: left;
                }
    
                p {
                    font-size: 1rem !important;
                
                }
    
                span {
                    font-size: 2rem;
                }
            }

            .total-amount {
                margin-top: 2rem;
            }

            button {
                cursor: pointer;
                height: 4rem;
                transition: all 0.2s ease-in-out;


                &:hover {
                    background-color: $hover-light-green;
                }
            }
        }
    }
}

@media (width > 1450px) {
    #root > h1 {
        margin: 3rem 0;
    }

    main {
        height: 60%;
        width: 60%;
    }
    span {
        font-size: 3rem !important;
    }
}

//Very small devices
@media (width <= 340px) {
    main {
        .total {
            .total-amount, .tip-amount {
                span {
                    font-size: 1.5rem;
                }
            }
        }
    }
}